.App {
  text-align: center;
  background-color: grey;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background: linear-gradient(90deg, #252BFC 0%, #65FE5A 100%);
}

.nav-items {
  display: flex;
  margin: auto 3%;
  text-decoration: none;
  width: 50%;
  justify-content: space-between;
}

.nav-item{
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.nav-logo{
  width: 4%;
  margin: .5%;
  height: auto;
}

.table{
  margin: 5% auto;
  border: 1px solid black;
}

.table-body{
  background-color: lightslategray;
  margin: auto;
  border: 1px solid black;
  width: 50%;
}

.table-row{
  border: 1px solid black;
}

.table-data{
    border: 1px solid black;
    padding: 1%;
}


h2{
  margin: 2%;
}
